.receipes
{
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 20px;
}
.receipe
{
    list-style-type: none;
    height: 300px;
    width: 400px;
    box-shadow: 5px 5px 5px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}