h1{
    text-align: center;
}
.prodImage
{
    height: 150px;
    width: 150px;
}
#products
{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   gap: 20px;
}
#product
{
   box-shadow: 5px 5px 10px black;
   height: 400px;
   width: 250px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}