<!-- <div class="text">
   <h1>Hello Everyone!</h1>
   <p>My name is {{name}} </p>
   <p>Our course is {{course}}</p>
   <p>{{2+2}}</p>
   <p>{{isGood ? 'Good Boy' : 'Bad Boy'}}
   {{getGreeting()}}
   </p>
   <img src="{{address}}" alt="">
</div> -->

<!--Property Binding-->
<div [class.text]="isHeading">
  <h1>My Heading</h1>
</div>
<button [disabled]="isDisabled">Click me</button>
<img src="{{address}}" alt="">







<input type="text" [placeholder]="plchldr">



<p [title]="text">{{text}}</p>






